@use "variables";

body {
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);
    font-size:x-large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
}

ul2 {
    list-style-image: url("../images/react-banner.jpeg");
}